/*VITRINE STANDARD*/
.vitrine-standard{
    position: relative;
    width: 80%;
    min-height: 200px;
    justify-content: center;
    align-items: baseline;
    margin: 20px auto 20px auto;
}
.vitrine-standard .titulo-vitrine{
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}
.vitrine-standard .descricao-vitrine{
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    text-align: justify;
}
.mensagem-no-result{
    color: #666;
    text-align: center;
    font-weight: normal;
    width: 100%;
}
.vitrine-standard .display-produtos{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}
.vitrine-standard .display-produtos .box-produto{
    position: relative;
    width: 16%;
    margin: 10px 1% 50px 1%;
    padding: 10px 1% 10px 1%;
    transition: all .3s ease;
    font-size: 16px;
    min-width: 0px;
    min-height: 0px;
}
.vitrine-standard .display-produtos .box-produto:hover{
    transform: scale(1.1);
    margin-bottom: 10px;
    padding-bottom: 50px;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, .1);
}
.vitrine-standard .display-produtos .box-produto img{
    width: 100%;
}
.vitrine-standard .display-produtos .box-produto .title-link{
    text-decoration: none;
}
.vitrine-standard .display-produtos .box-produto .titulo-produto{
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 40px;
    color: #333;
}
.vitrine-standard .display-produtos .box-produto .titulo-produto:hover{
    color: #6abd45;  
}
.vitrine-standard .display-produtos .box-produto .preco-produto{
    font-size: .7em;
    color: #666;
    margin: 10px 0px 10px 0px;
}
.vitrine-standard .display-produtos .box-produto .preco-produto span{
    white-space: nowrap;
}
.vitrine-standard .display-produtos .box-produto .preco-produto .price{
    color: #6abd45;
    font-size: 1.3em;
}
.vitrine-standard .display-produtos .box-produto .preco-produto .promo-price{
    text-decoration: line-through;
    font-size: 1.2em;
}
.vitrine-standard .display-produtos .box-produto .call-to-action{
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    transition: .2s;
    background-color: #155c3c;
}
.vitrine-standard .display-produtos .box-produto .call-to-action:hover{
    background-color: #0f422b;
}
.vitrine-standard .display-produtos .box-produto .display-cores{
    display: flex;
    margin: 0px 5% 0px 5%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .1s;
    justify-content: flex-start;
    align-items: center;
}
.vitrine-standard .display-produtos .box-produto:hover .display-cores{
    transition: .4s ease opacity .1s;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.vitrine-standard .display-produtos .box-produto .display-cores .cor{
    width: 20px;
    height: 20px;
    margin: 10px 10px 0px 0px;
    background-color: #eee;
    border-radius: 50%;
}
.vitrine-standard .display-produtos .box-produto .display-cores .cor:hover{
    opacity: .7;   
}
@media screen and (max-width: 1100px){
    .vitrine-standard{
        width: 95%;
    }
    @media screen and (max-width: 980px){
        .vitrine-standard .display-produtos .box-produto{
            width: 21%;
        }
        @media screen and (max-width: 760px){
            .vitrine-standard .display-produtos .box-produto{
                width: 29%;
            }
            @media screen and (max-width: 640px){
                .vitrine-standard .display-produtos .box-produto{
                    width: 46%;
                    margin: 10px 2% 10px 2%;
                    padding: 0px;
                }
                .vitrine-standard .display-produtos .box-produto:hover{
                    box-shadow: none;
                    margin: 10px 2% 10px 2%;
                    padding: 0px;
                }
                .vitrine-standard .display-produtos .box-produto .display-cores{
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                    width: 100%;
                    margin: 20px 5px 10px 5px;
                }
            }
        }
    }
}
/*END VITRINE STANDARD*/

/*VITRINE CATEGORIAS*/
.vitrine-categorias{
    position: relative;
    width: 80%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 20px auto;
    flex-flow: row wrap;
}
.vitrine-categorias .titulo-vitrine{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    line-height: 24px;
    color: #333;
}
.vitrine-categorias .alter-spacing{
    width: 100%;
    height: 100px;
}
.vitrine-categorias .box-categoria{
    width: 32%;
    margin: 0px .5% 0px .5%;
}
.vitrine-categorias .box-categoria:hover{
    opacity: .9;   
}
.vitrine-categorias .box-categoria-dupla{
    width: 33%;
    margin: 0px .5% 0px .5%;
}
.vitrine-categorias .box-categoria-dupla .box{
    margin: 80px 0px 80px 0px;
}
.vitrine-categorias .box-categoria-dupla .box:hover{
    opacity: .9;   
}
.vitrine-categorias .box-categoria img, .vitrine-categorias .box-categoria-dupla img{
    width: 100%;
    margin: 0px 0px 20px 0px;
    cursor: pointer;
}
.vitrine-categorias .call-to-action{
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    margin: 0 auto;
    height: 25px;
    line-height: 25px;
    color: #333;
    border: 1px solid #333;
    font-weight: bold;
    transition: .2s;

}
.vitrine-categorias .call-to-action:hover{
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
@media screen and (max-width: 980px){
    .vitrine-categorias{
        width: 95%;
    }
    .vitrine-categorias .box-categoria-dupla{
        width: 100%;
        margin: 0px;
        display: flex;
        order: 2;
    }
    .vitrine-categorias .box-categoria-dupla .box{
        width: 46%;
        margin: 10px 2% 30px 2%;
    }
    .vitrine-categorias .box-categoria{
        width: 46%;
        margin: 10px 2% 30px 2%;
    }
}
/*END VITRINE CATEGORIAS*/

/*VITRINE CARROSSEL*/
.vitrine-carrossel{
    position: relative;
    width: 1000px;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.vitrine-carrossel .controller-carrossel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
}
.vitrine-carrossel .controller-carrossel .arrows{
    position: absolute;
    pointer-events: all;
    cursor: pointer;
    font-size: 42px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #666;
    opacity: .4;
}
.vitrine-carrossel .controller-carrossel .arrows:hover{
    opacity: .6;
    background-color: #eee;
    outline: none;
}
.vitrine-carrossel .controller-carrossel .slick-hidden{
    display: block;
}
.vitrine-carrossel .controller-carrossel .slick-arrow{
    outline: none;
}
.vitrine-carrossel .controller-carrossel .left-arrow{
    right: -30px;
}
.vitrine-carrossel .controller-carrossel .right-arrow{
    left: -30px;
}
.vitrine-carrossel .titulo-vitrine{
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}
.vitrine-carrossel .descricao-vitrine{
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    text-align: justify;
}
.vitrine-carrossel .display-produtos{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
}   
.vitrine-carrossel .display-produtos a{
    outline: none;
}
.vitrine-carrossel .display-produtos .box-produto{
    position: relative;
    width: 160px;
    height: 285px;
    margin: 10px 10px 50px 15px;
    padding: 10px;
    transition: all .3s ease;
    font-size: 16px;
}
.vitrine-carrossel .display-produtos .box-produto:hover{
    transform: scale(1.1);
    margin-bottom: 10px;
    padding-bottom: 50px;
}
.vitrine-carrossel .display-produtos .box-produto img{
    width: 100%;
}
.vitrine-carrossel .display-produtos .box-produto .title-link{
    text-decoration: none;
}
.vitrine-carrossel .display-produtos .box-produto .titulo-produto{
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 40px;
    color: #333;
}
.vitrine-carrossel .display-produtos .box-produto .titulo-produto:hover{
    color: #6abd45;  
}
.vitrine-carrossel .display-produtos .box-produto .preco-produto{
    font-size: .7em;
    color: #666;
    margin: 10px 0px 10px 0px;
    height: 30px;
}
.vitrine-carrossel .display-produtos .box-produto .preco-produto span{
    white-space: nowrap;
}
.vitrine-carrossel .display-produtos .box-produto .preco-produto .price{
    color: #6abd45;
    font-size: 1.3em;
}
.vitrine-carrossel .display-produtos .box-produto .preco-produto .promo-price{
    text-decoration: line-through;
    font-size: 1.2em;
}
.vitrine-carrossel .display-produtos .box-produto .call-to-action{
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    transition: .2s;
    background-color: #155c3c;
}
.vitrine-carrossel .display-produtos .box-produto .call-to-action:hover{
    background-color: #0f422b;
}
.vitrine-carrossel .display-produtos .box-produto .display-cores{
    display: flex;
    margin: 0px 5% 0px 5%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .1s;
    justify-content: flex-start;
    align-items: center;
}
.vitrine-carrossel .display-produtos .box-produto:hover .display-cores{
    transition: .4s ease opacity .1s;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.vitrine-carrossel .display-produtos .box-produto .display-cores .cor{
    width: 20px;
    height: 20px;
    margin: 10px 10px 0px 0px;
    background-color: #eee;
    border-radius: 50%;
}
.vitrine-carrossel .display-produtos .box-produto .display-cores .cor:hover{
    opacity: .7;   
}
@media screen and (max-width: 1000px){
    .vitrine-carrossel{
        width: 760px;   
    }
    .vitrine-carrossel .controller-carrossel .left-arrow{
        right: -50px;
    }
    .vitrine-carrossel .controller-carrossel .right-arrow{
        left: -50px;
    }
    .vitrine-carrossel .display-produtos{
        width: 760px;
        margin-bottom: 30px;
    }
    .vitrine-carrossel .display-produtos .box-produto{
        width: 132px;
        margin: 0px 8px 0px 5px;
        padding: 5px 5px 60px 5px;
    }
    @media screen and (max-width: 860px){
        .vitrine-carrossel{
            width: 450px;   
        }
        .vitrine-carrossel .titulo-vitrine{
            font-size: 24px;   
        }
        .vitrine-carrossel .display-produtos{
            width: 450px;
        }
        .vitrine-carrossel .display-produtos .box-produto{
            width: 130px;
        }
        @media screen and (max-width: 480px){
            .vitrine-carrossel{
                width: 320px;   
            }
            .vitrine-carrossel .controller-carrossel .left-arrow{
                right: 0px;
            }
            .vitrine-carrossel .controller-carrossel .right-arrow{
                left: 0px;
            }
            .vitrine-carrossel .titulo-vitrine{
                font-size: 18px;   
            }
            .vitrine-carrossel .display-produtos{
                width: 320px;
            }
            .vitrine-carrossel .display-produtos .box-produto{
                width: 200px;
                padding: 5px 60px 60px 60px;
                margin: 0px;
            }
        }
    }
}
/*END VITRINE CARROSSEL*/